<!-- Navbar -->
<%- include('../partials/header')-%>
<!-- Page Content Starts -->
    <div class="page-container-column">
        <div class="large-content-container-column palette-a">
            <h1>BROWSE NEEDS & OFFERINGS</h1>
            <form id="searchForm" action="/searchForNeedsAndOfferings" method="GET">
                <fieldset>
                    <legend style="text-align: center;">Narrow your search by selecting from the filters below.</legend>
                    <br>
                    <div class="container-row">
<!-- SUB-NEGEIGBORHOOD SEARCH STARTS HERE -->
                        <!-- <div class="slim-content-container-column" style="border: 3px solid #3F2B39;">
                            <h3>Neighborhood</h3>
                            <fieldset>
                                <legend class="form-labels">What sub-neighborhood(s) do you want to search in? <br>
                                <span class="form-labels-subtext">(choose one or more to apply)</span></legend>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="JFK / Southie / Savin" id="searchNeighborhoodJfkSouthieSavin" name="searchNeighborhood">
                                    <label for="searchNeighborhoodJfkSouthieSavin" class="form-labels-check-radio">JFK/Southie/Savin</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Grove Hall" id="searchNeighborhoodGroveHall" name="searchNeighborhood">
                                    <label for="searchNeighborhoodGroveHall" class="form-labels-check-radio">Grove Hall</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Uphams" id="searchNeighborhoodUphams" name="searchNeighborhood">
                                    <label for="searchNeighborhoodUphams" class="form-labels-check-radio">Uphams</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Bowdoin / Geneva" id="searchNeighborhoodBowdoinGeneva" name="searchNeighborhood">
                                    <label for="searchNeighborhoodBowdoinGeneva" class="form-labels-check-radio">Bowdoin/Geneva</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Fields Corner" id="searchNeighborhoodFieldsCorner" name="searchNeighborhood">
                                    <label for="searchNeighborhoodFieldsCorner" class="form-labels-check-radio">Fields Corner</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="St. Marks / Neponset" id="searchNeighborhoodStMarksNeponset" name="searchNeighborhood">
                                    <label for="searchNeighborhoodStMarksNeponset" class="form-labels-check-radio">St. Marks/Neponset</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Codman" id="searchNeighborhoodCodman" name="searchNeighborhood">
                                    <label for="searchNeighborhoodCodman" class="form-labels-check-radio">Codman</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Ashmont" id="searchNeighborhoodAshmont" name="searchNeighborhood">
                                    <label for="searchNeighborhoodAshmont" class="form-labels-check-radio">Ashmont</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Blue Hill" id="searchNeighborhoodBlueHill" name="searchNeighborhood">
                                    <label for="searchNeighborhoodBlueHill" class="form-labels-check-radio">Blue Hill</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Lower Mills" id="searchNeighborhoodLowerMills" name="searchNeighborhood">
                                    <label for="searchNeighborhoodLowerMills" class="form-labels-check-radio">Lower Mills</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Mattapan" id="searchNeighborhoodMattapan" name="searchNeighborhood">
                                    <label for="searchNeighborhoodMattapan" class="form-labels-check-radio">Mattapan</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Unknown / Not Dorchester" id="searchNeighborhoodNotDot" name="searchNeighborhood">
                                    <label for="searchNeighborhoodNotDot" class="form-labels-check-radio">Outside Dorchester and Mattapan</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="All Neighborhoods" id="searchNeighborhoodAll" name="searchNeighborhood">
                                    <label for="searchNeighborhoodAll" class="form-labels-check-radio">all neighborhoods</label>
                                </div>
                            </fieldset>
                        </div> -->
<!-- NEEDS SEARCH STARTS HERE -->
                        <div class="slim-content-container-column" style="border: 3px solid #3F2B39;">
                            <h3>Needs</h3>
                            <fieldset>
                                <legend class="form-labels">What need(s) do you want to search for? <br><span class="form-labels-subtext">(choose zero or more to apply)</span></legend>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Childcare" id="searchNeedChildcare" name="searchNeeds">
                                    <label for="searchNeedChildcare" class="form-labels-check-radio">childcare</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Cooking" id="searchNeedCooking" name="searchNeeds">
                                    <label for="searchNeedCooking" class="form-labels-check-radio">cooked food</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Food and Supplies" id="searchNeedFoodAndSupplies" name="searchNeeds">
                                    <label for="searchNeedFoodAndSupplies" class="form-labels-check-radio">food & supplies</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Rides or Access to a Vehicle" id="searchNeedRidesCar" name="searchNeeds">
                                    <label for="searchNeedRidesCar" class="form-labels-check-radio">rides or access to a vehicle</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: PetCare / Dog-Walking" id="searchNeedPetCare" name="searchNeeds">
                                    <label for="searchNeedPetCare" class="form-labels-check-radio">petcare/dog-walking</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Internet Subscriptions" id="searchNeedInternetSubscriptions" name="searchNeeds">
                                    <label for="searchNeedInternetSubscriptions" class="form-labels-check-radio">internet subscriptions</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Medical Support" id="searchNeedMedicalSupport" name="searchNeeds">
                                    <label for="searchNeedMedicalSupport" class="form-labels-check-radio">medical support</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Medical Advice" id="searchNeedMedicalAdvice" name="searchNeeds">
                                    <label for="searchNeedMedicalAdvice" class="form-labels-check-radio">medical advice</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Storage Space" id="searchNeedStorage" name="searchNeeds">
                                    <label for="searchNeedStorage" class="form-labels-check-radio">storage space</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Art / Music / Writing" id="searchNeedArt" name="searchNeeds">
                                    <label for="searchNeedArt" class="form-labels-check-radio">art, music, writing</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Mental Health Counseling" id="searchNeedMentalHealth" name="searchNeeds">
                                    <label for="searchNeedMentalHealth" class="form-labels-check-radio">mental health counseling</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Conversation / Companionship" id="searchNeedCompanionship" name="searchNeeds">
                                    <label for="searchNeedCompanionship" class="form-labels-check-radio">conversation/companionship</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Legal Representation / Advocacy" id="searchNeedLegal" name="searchNeeds">
                                    <label for="searchNeedLegal" class="form-labels-check-radio">legal representation/advocacy</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Interpretation / Translation" id="searchNeedInterpretation" name="searchNeeds">
                                    <label for="searchNeedInterpretation" class="form-labels-check-radio">interpretation/translation</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Social Service Guidance" id="searchNeedSocialServices" name="searchNeeds">
                                    <label for="searchNeedSocialServices" class="form-labels-check-radio">social service guidance</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Healing / Ritual / Herbal Medicine" id="searchNeedHealing" name="searchNeeds">
                                    <label for="searchNeedHealing" class="form-labels-check-radio">healing, ritual, herbal medicine</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Housing (short-term)" id="searchNeedHousingShort" name="searchNeeds">
                                    <label for="searchNeedHousingShort" class="form-labels-check-radio">housing (short-term)</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Housing (long-term)" id="searchNeedHousingLong" name="searchNeeds">
                                    <label for="searchNeedHousingLong" class="form-labels-check-radio">housing (long-term)</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Other" id="searchNeedOther" name="searchNeeds">
                                    <label for="searchNeedOther" class="form-labels-check-radio">other</label>
                                </div>
                                <!-- <div class="input-container-check-radio">
                                    <input type="checkbox" value="Need: Financial" id="searchNeedFinancial" name="searchNeeds">
                                    <label for="searchNeedFinancial" class="form-labels-check-radio">financial</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="need: All" id="searchNeedAll" name="searchNeeds">
                                    <label for="searchNeedAll" class="form-labels-check-radio">all needs</label>
                                </div> -->
                                <br>
                            </fieldset>
                        </div>
<!-- OFFERINGS SEARCH STARTS HERE -->
                        <div class="slim-content-container-column" style="border: 3px solid #3F2B39;">
                            <h3>Offerings</h3>
                            <fieldset>
                                <legend class="form-labels">What offering(s) do you want to search for? <br><span class="form-labels-subtext">(choose zero or more to apply)</span></legend>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Childcare" id="searchOfferChildcare" name="searchOffers">
                                    <label for="searchOfferChildcare" class="form-labels-check-radio">childcare</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input class= "searchCheckbox" type="checkbox" value="Offer: Cooking" id="searchOfferCooking" name="searchOffers">
                                    <label for="searchOfferCooking" class="form-labels-check-radio">cooking for someone</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Food and Supplies" id="searchOfferFoodAndSupplies" name="searchOffers">
                                    <label for="searchOfferFoodAndSupplies" class="form-labels-check-radio">food & supplies</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Rides or Access to a Vehicle" id="searchOfferRidesCar" name="searchOffers">
                                    <label for="searchOfferRidesCar" class="form-labels-check-radio">give rides or access to a vehicle</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: PetCare / Dog-Walking" id="searchOfferPetCare" name="searchOffers">
                                    <label for="searchOfferPetCare" class="form-labels-check-radio">petcare/dog-walking</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Internet Subscriptions" id="searchOfferInternetSubscriptions" name="searchOffers">
                                    <label for="searchOfferInternetSubscriptions" class="form-labels-check-radio">internet subscriptions</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Medical Support" id="searchOfferMedicalSupport" name="searchOffers">
                                    <label for="searchOfferMedicalSupport" class="form-labels-check-radio">medical support</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Medical Advice" id="searchOfferMedicalAdvice" name="searchOffers">
                                    <label for="searchOfferMedicalAdvice" class="form-labels-check-radio">medical advice</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Storage Space" id="searchOfferStorage" name="searchOffers">
                                    <label for="searchOfferStorage" class="form-labels-check-radio">storage space</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Art / Music / Writing" id="searchOfferArt" name="searchOffers">
                                    <label for="searchOfferArt" class="form-labels-check-radio">art, music, writing</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Mental Health Couseling / Resources" id="searchOfferMentalHealth" name="searchOffers">
                                    <label for="searchOfferMentalHealth" class="form-labels-check-radio">mental health counseling</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Conversation / Companionship" id="searchOfferCompanionship" name="searchOffers">
                                    <label for="searchOfferCompanionship" class="form-labels-check-radio">conversation/companionship</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Legal Representation / Advocacy" id="searchOfferLegal" name="searchOffers">
                                    <label for="searchOfferLegal" class="form-labels-check-radio">legal representation/advocacy</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Interpretation / Translation" id="searchOfferInterpretation" name="searchOffers">
                                    <label for="searchOfferInterpretation" class="form-labels-check-radio">interpretation/translation</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Social Service Guidance" id="searchOfferSocialServices" name="searchOffers">
                                    <label for="searchOfferSocialServices" class="form-labels-check-radio">social service guidance</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Healing / Ritual / Herbal Medicine" id="searchOfferHealing" name="searchOffers">
                                    <label for="searchOfferHealing" class="form-labels-check-radio">healing, ritual, herbal medicine</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Housing (short-term)" id="searchOfferHousingShort" name="searchOffers"> 
                                    <label for="searchOfferHousingShort" class="form-labels-check-radio">housing (short-term)</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Housing (long-term)" id="searchOfferHousingLong" name="searchOffers">
                                    <label for="searchOfferHousingLong" class="form-labels-check-radio">housing (long-term)</label>
                                </div>
                                <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: Other" id="searchOfferOther" name="searchOffers">
                                    <label for="searchOfferOther" class="form-labels-check-radio">other</label>
                                </div>
                                <!-- <div class="input-container-check-radio">
                                    <input type="checkbox" value="Offer: All" id="searchOfferAll" name="searchOffers">
                                    <label for="searchOfferAll" class="form-labels-check-radio">all offerings</label>
                                </div> -->
                            </fieldset>
                        </div>
                    </div>    
                </fieldset>
                <br>
                <input type="submit" class="button palette-b" id="search-submit-button" value="Search">
                <br>
                <span id="target" style="display: none"></span>
            </form>
<!-- SEARCH FORM ENDS HERE -->
        </div>
        <div id="searchResultsContainer" class="search-results-container">
<!-- Needs Search Results Starts Here -->
            <% if (needsToDisplay === undefined && offersToDisplay === undefined) { %>
                <div class="medium-content-container-column palette-c" style="font-size: 1em;">
                    <p style="font-size: 1.4em;">Please search using the checkboxes above.</p>
                </div>
                <% }
                if (needsToDisplay) {
                    needsToDisplay.forEach(singleNeedToDisplay => { %>
                <div class="medium-content-container-column palette-c" style="font-size: 1em;">  
                    <h2> <%= singleNeedToDisplay[1] %> </h2>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Neighbor's Name:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result">
                            <span> <%= singleNeedToDisplay[4] %> </span>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Neighborhood:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result">
                            <span> <%= singleNeedToDisplay[5] %> </span>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Urgency:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result">
                            <span> <%= singleNeedToDisplay[11] %>  </span>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Frequency:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result">
                            <% if (!singleNeedToDisplay[12]) { %>
                                <span> not available for this need </span>
                            <% } else { %>
                                <span> <%= singleNeedToDisplay[12] %>  </span>
                            <% } %>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">More Information from Neighbor:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result">
                            <span> <%= singleNeedToDisplay[8] %> </span>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Contact Information:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result word-wrap">
                            <span> <%= singleNeedToDisplay[6] %> </span><br>
                            <span> <%= singleNeedToDisplay[7] %> </span><br>
                            <br><br>
                        </div>
                    </div>
                    <div class="container-row-no-wrap no-wrap">
                        <div class="search-result-row-label">
                            <span class="word-wrap">Community Update:</span>
                            <br><br>
                        </div>   
                        <div class="search-result-row-result" id="print<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>">
                            <% singleNeedToDisplay[9].forEach(communityUpdate => { 
                                if (communityUpdate != "") {%>
                                    <span> <%= communityUpdate %> <br></span>
                            <%}})%>
                            <br><br>
                        </div>
                    </div>
                        <fieldset>
                            <div class="container-row-no-wrap no-wrap">
                                <div class="search-result-row-label">
                                    <legend class="word-wrap">Update this need or offering:</legend>
                                    <label for="<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>">Examples: Explain how this need was met and on what date or explain how this offering was accessed and on what date.</label>
                                </div>   
                                <div class="search-result-row-result">
                                    <textarea class="search-result-textarea <%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>" placeholder="add update here, refresh the page after each update for multiple submissions on the same neighbor" id="<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>" name="<%=singleNeedToDisplay[10]%>"></textarea>
                                    <br><br>
                                    <input style="display: none;" type="text" value="<%=singleNeedToDisplay[9]%>" id="hiddenCommunityNotes<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>" name="hiddenCommunityNotes">
                                    <input style="display: none;" type="text" value="<%=singleNeedToDisplay[0]%>" id="hiddenUserId<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>" name="hiddenUserId">
                                    <input style="display: none;" type="text" value="<%=singleNeedToDisplay[10]%>" id="hiddenUpdateKey<%=singleNeedToDisplay[10]%><%=singleNeedToDisplay[0]%>" name="hiddenUpdateKey">
                                    <button class="button-update palette-a" onclick='addCommunityUpdate("<%=singleNeedToDisplay[0]%>", "<%=singleNeedToDisplay[10]%>", "<%=singleNeedToDisplay[9]%>");'>Submit</button>
                                    <br>
                                </div>
                                <div>
                                </div>
                            </div>
                        </fieldset>
                </div>  
                <%    })   
                }
<!-- Offers Search Results Starts Here -->
                if (offersToDisplay) {
                    offersToDisplay.forEach(singleOfferToDisplay => { %>
                    <div class="medium-content-container-column palette-c" style="font-size: 1em;">
                        <h2> <%= singleOfferToDisplay[1] %> </h2>
                        <div class="container-row-no-wrap no-wrap">
                            <div class="search-result-row-label">
                                <span class="word-wrap">Neighbor's Name:</span>
                                <br><br>
                            </div>   
                            <div class="search-result-row-result">
                                <span> <%= singleOfferToDisplay[4] %> </span>
                                <br><br>
                            </div>
                        </div>
                        <div class="container-row-no-wrap no-wrap">
                            <div class="search-result-row-label">
                                <span class="word-wrap">Neighborhood:</span>
                                <br><br>
                            </div>   
                            <div class="search-result-row-result">
                                <span> <%= singleOfferToDisplay[5] %> </span>
                                <br><br>
                            </div>
                        </div>
                        <div class="container-row-no-wrap no-wrap">
                            <div class="search-result-row-label">
                                <span class="word-wrap">More Information from Neighbor:</span>
                                <br><br>
                            </div>   
                            <div class="search-result-row-result">
                                <span> <%= singleOfferToDisplay[8] %> </span><br>
                                
                                <br><br>
                            </div>
                        </div>
                        <div class="container-row-no-wrap no-wrap">
                            <div class="search-result-row-label">
                                <span class="word-wrap">Contact Information:</span>
                                <br><br>
                            </div>   
                            <div class="search-result-row-result word-wrap">
                                <span> <%= singleOfferToDisplay[6] %> </span><br>
                                <span> <%= singleOfferToDisplay[7] %> </span><br>
                                <br><br>
                            </div>
                        </div>
                        <div class="container-row-no-wrap no-wrap">
                            <div class="search-result-row-label">
                                <span class="word-wrap">Community Update:</span>
                                <br><br>
                            </div>   
                            <div class="search-result-row-result" id="print<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>">
                                <% singleOfferToDisplay[9].forEach(communityUpdate => { 
                                    if (communityUpdate != "") {%>
                                    <span> <%= communityUpdate %> <br></span>
                                <%}})%>
                                <br><br>
                            </div>
                        </div>
                            <fieldset>
                                <div class="container-row-no-wrap no-wrap">
                                    <div class="search-result-row-label">
                                        <legend class="word-wrap">Update this need or offering:</legend>
                                        <label for="<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>">Examples: Explain how this need was met and on what date or explain how this offering was accessed and on what date.</label>
                                    </div>   
                                    <div class="search-result-row-result">
                                        <textarea class="search-result-textarea <%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>" placeholder="add update here, refresh the page after each update for multiple submissions on the same neighbor" id="<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>" name="<%=singleOfferToDisplay[10]%>"></textarea>
                                        <br><br>
                                        <input style="display: none;" type="text" value="<%=singleOfferToDisplay[9]%>" id="hiddenCommunityNotes<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>" name="hiddenCommunityNotes">
                                        <input style="display: none;" type="text" value="<%=singleOfferToDisplay[0]%>" id="hiddenUserId<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>" name="hiddenUserId">
                                        <input style="display: none;" type="text" value="<%=singleOfferToDisplay[10]%>" id="hiddenUpdateKey<%=singleOfferToDisplay[10]%><%=singleOfferToDisplay[0]%>" name="hiddenUpdateKey">
                                        <button class="button-update palette-a" onclick='addCommunityUpdate("<%=singleOfferToDisplay[0]%>", "<%=singleOfferToDisplay[10]%>", "<%=singleOfferToDisplay[9]%>");'>Submit</button>
                                        <br>
                                    </div>
                                </div>
                            </fieldset>
                    </div>  
                    <%  } 
                    )
                } %>  
        </div>  
    </div>
    <script src="../scripts/scripts.js"></script>
</body>
</html>